@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #003329;
    overflow:initial;
}

.logo {
    font-size: 2em;
    color: rgba(255, 248, 220, 0.635);
    pointer-events: none;
    margin-right: 70px;
}

.Rev {
    color: rgba(255, 248, 220, 0.635);
    text-align: center;
}

section.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
}

section.Glenda p {
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.pic {
    color: rgba(255, 248, 220, 0.635);
    text-align: center;
}

.last {
    color: rgba(255, 248, 220, 0.635);
    text-align: center;
}