@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #003329;
    overflow:initial;
}

.logo {
    font-size: 2em;
    color: rgba(255, 248, 220, 0.635);
    pointer-events: none;
    margin-right: 70px;
}

section.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
}

section.sec li {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

section.sec b {
    font-size: 1em;
    color: rgb(205, 239, 215);
    font-weight: 300;
}

body p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.loger {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    margin-left: 20px;
}

section.sec ol.a {
   list-style: square;
   margin-left: 30px;
}

ol {
    padding: 20px;
}

section.sec ol.b {
    list-style: square;
    margin-left: 30px;
 }

section.sec ol.c {
    list-style: square;
    margin-left: 30px;
}

section.sec {
    font-weight: 400px;
}
